@model EntLibraryProj.Entities.AddUserRoleViewModel
@*
    This allows for a user to be matched to a role in the AspNetUserRoles table. Requires the user's email and the role name
*@

<h1> Add User To Role</h1>
@ViewBag.AddUserRoleMessage
@using (Html.BeginForm("AddUserToRole", "Admin", FormMethod.Post))
{
    @*     @Html.ValidationSummary("Validation Summary",new {@class = "text-danger"})
 *@
    @Html.Label("Enter User Name: ")
    @Html.TextBoxFor(x => x.UserName)
    @*     @Html.ValidationMessageFor(x => x.UserName)
 *@
    <div />

    @Html.Label("Enter Role Name: ")
    @Html.TextBoxFor(x => x.RoleName)
    @*     @Html.ValidationMessageFor(x => x.RoleName)
 *@
    <div />

    <input type="submit" value="Add Role To User" />

}