@using EntLibraryProj.Entities
@model LibraryItem
@{
    ViewData["Title"] = "Create";

}
@using (Html.BeginForm("AddItem", "Library", FormMethod.Post))
{
    @Html.Label("Enter Item Id: ")
    @Html.TextBoxFor(m => m.LibItemId, new { @type = "number" })
    @Html.ValidationMessageFor(m => m.LibItemId, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Select a category: ")
    @Html.DropDownListFor(e => e.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryId, "Select Category")
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
        @* @Html.Label("Pick Category")
    <select asp-for="Category">
        @foreach (ItemType Cat in Enum.GetValues(typeof(ItemType)))
        {
            <option value="@Cat.ToString()"> @Cat.ToString() </option>
        }
    </select> *@
    <br />
    @Html.Label("Item Name: ")
    @Html.TextBoxFor(m => m.ItemName)
    @Html.ValidationMessageFor(m => m.ItemName, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Creator of Item: ")
    @Html.TextBoxFor(m => m.CreatorName)
    @Html.ValidationMessageFor(m => m.CreatorName, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Enter Publisher: ")
    @Html.TextBoxFor(m => m.Publisher)
    @Html.ValidationMessageFor(m => m.Publisher, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Enter Country of Origin: ")
    @Html.TextBoxFor(m => m.OriginCountry)
    @Html.ValidationMessageFor(m => m.OriginCountry, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Enter Item Description: ")
    @Html.TextAreaFor(m => m.ItemDescription)
    @Html.ValidationMessageFor(m => m.ItemDescription, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Enter Item's Genre: ")
    @Html.TextBoxFor(m => m.Genre)
    @Html.ValidationMessageFor(m => m.Genre, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Enter Item Inventory: ")
    @Html.TextBoxFor(m => m.Inventory, new { @type = "number" })
    @Html.ValidationMessageFor(m => m.Inventory, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Item availability will be automatically set: ")
    @Html.TextBoxFor(m => m.Available, new { @type = "number"})
    @Html.ValidationMessageFor(m => m.Available, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Enter Item's Image URL: ")
    @Html.TextBoxFor(m => m.ImageURL)
    @*No validation for this feature*@

    <br />
    @Html.Label("Enter Date Added: ")
    @Html.TextBoxFor(m => m.DateAdded, "{0:yyyy-MM-dd}", new { type = "date" })
    @Html.ValidationMessageFor(m => m.DateAdded, "", new { @class = "text-danger" })

    <br />
    @Html.Label("Enter Date of Creation: ")
    @Html.TextBoxFor(m => m.DateCreated, "{0:yyyy-MM-dd}", new { type = "date" })
    @Html.ValidationMessageFor(m => m.DateCreated, "", new { @class = "text-danger" })

    <br />
    <input type="submit" class="btn btn-primary" value="Create" />
}
<br />
<div>
    @* @Html.ValidationSummary("Summary of all validations", new {@class = "text-danger"}) *@
    @Html.ValidationSummary("", new { @style = "color:red" })
</div>

@if (ViewBag.Status == true)
{
    <h1>Sorry, Item id already exists</h1>
}

<div>
    <a asp-action="ShowItems">Back to Items List</a>
</div>

@* @using (Html.BeginForm("Index", "Home"))
{
    <input type="submit" value="Home" />
}
 *@
@*

[Key]
        public int ItemId { get; set; }
        //[Required(ErrorMessage = "Must Choose")]
        //[Range(1,9)]
        [ForeignKey("Category")]
        public int CategoryId { get; set; }
        public virtual Category? Category { get; set; }
        public string? ItemName { get; set; }
        public string? CreatorName { get; set; }
        public string? Publisher { get; set; }
        public string? OriginCountry { get; set; }
        public string? ItemDescription { get; set; }
        public string? Genre { get; set; }
        public int? Inventory { get; set; }
        public int? Available { get; set; }
        public string? ImageURL {  get; set; }
        public string? DateAdded { get; set; }
        public string? DateCreated { get; set; }
*@

