@using EntLibraryProj.Entities

@model List<LibraryItem>

    <table border=1 class="table table-striped">
        <thead>
            <tr style="background-color:DarkSeaGreen;">
                <th>
                    @Html.DisplayNameFor(Model => Model[0].ItemId)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model[0].Type)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model[0].Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model[0].Inventory)
                </th>
                <th>
                @Html.DisplayNameFor(Model => Model[0].Available)
                </th>
                <th>
                @Html.DisplayNameFor(Model => Model[0].DateAdded)
                </th>
                   @if(Model[0] != null)
                   {
                        @if (Model[0].Check != null)
                        {
                            @foreach (string s in Model[0].Check.TagNames())
                            {
                            <th>@s</th>
                            }
                        }
                   }

                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var Item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(I => Item.ItemId)
                        </td>
                        <td>
                            @Html.DisplayFor(I => Item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(I => Item.Genre)
                        </td>
                        <td>
                            @Html.DisplayFor(I => Item.Inventory)
                        </td>
                        <td>
                        @Html.DisplayFor(I => Item.Available)
                        </td>
                        <td>
                        @Html.DisplayFor(I => Item.DateAdded)
                        </td>
                         @if (Item.Check != null)
                        
                            @foreach (string s in Item.Check.Tags())
                            {
                                <td>
                                @s
                                </td>
                            }
                        }
                   
                        <td>
                            <a  class="nav-link text-dark" class="btn btn-primary" asp-route-id="" asp-controller="Student" asp-action="Details">Details</a>
                            <a  class="nav-link text-dark" class="btn btn-primary" asp-route-id="" asp-controller="Student" asp-action="DeleteStudent">Delete</a>
                            <a  class="nav-link text-dark" class="btn btn-primary" asp-route-id="" asp-controller="Student" asp-action="EditStudent">Edit</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">
                        No students are available in database.
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
